.tu{
	width: 377px;
	display: inline;
}

.yo{
	width: 495px;
	display: inline;	
}

.boton{
	float: left;
	width: 225px;
}

section article fieldset form  span input[type=reset]{
	margin: 0px 42px 0px 62px ;
	width:120px;
}

section article fieldset form  span input[type=submit]{
	margin: 0px 62px 0px 42px ;
	width:120px;
}
